{% extends 'base.html.twig' %}

{% block title %} {{ parent() }} | Promotions{% endblock %}

{% block body %}
    <div class="container">
        <hr>
        <h1>Toutes les promotions du moments</h1>


    </div>

{% endblock %}

